ol,
ul {
  list-style: none;
}

/* .grid{

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    max-height: 800px;
    overflow: auto;

   
} */

